@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: myfont;
    src: url('/Fonts/c9a5bc6a7c948fb0-s.p.woff2');
}
.main{
    font-family: myfont;
    font-weight: 500;
    
}
::selection{
    background: #27AF61;
    color: #FEFFE0;
}
::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(317.33deg, rgb(6, 7, 6), transparent 115.43%);
}