@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: myfont;
    src: url('/Fonts/c9a5bc6a7c948fb0-s.p.woff2');
}
.main{
    font-family: myfont;
    font-weight: 500;
    /* background: linear-gradient(to left top, black, rgba(28, 26, 26, 0.01)900%, 900%, black); */

}
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(317.33deg, rgb(18, 19, 18), transparent 115.43%);
}